/* src/components/Header.css */

.header {
  width: 100%;
  background-color: #007bff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Закрепляем шапку вверху */
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Обеспечиваем, что шапка будет поверх других элементов */
}

.header-title {
  color: white;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

.logout-button {
  position: absolute;
  left: 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  background-color: white;
  color: #007bff;
}
